footer {
    background-color: var(--violeta);
}

.footer-main-container {
    background-color: var(--violeta);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    height: 17vh;
}

.titulo-footer {
    color: var(--clarito);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer i {
    color: var(--clarito);
    font-size: 35px;
}

.made-by {
    text-align: center;
}

.made-by a {
    text-decoration: none;
    color: var(--clarito);
    font-size: 1rem;
}

@media (width < 875px) {
    .titulo-footer {
        font-size: 1rem;
    }
}