/* Estilos generales */

:root {
    --violeta: #b99fee;
    --violeta-claro: #d9cdf0;
    --fondo-transparente: rgba(198, 169, 255, 0.151);
    --background: #f2ecf5 ;
    --clarito: #f0efef;
    --clarito2: #F4F4F4;
    --color3: rgb(153, 153, 153);
    --bordes: rgb(206, 205, 205);
    --hover: rgb(241, 240, 240);
    --error: rgb(204, 51, 51);
    --rojo-transparente: rgba(204, 51, 51, 0.151);
}

#root {
    position: relative;
    z-index: -3;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--violeta);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background);
    position: relative;
    z-index: -3;
}

main {
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: -2;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 15px 0 15px;
}

a {
    text-decoration: none;
}

/*------------------GENERAL DASHBOARD STYLES--------------*/

.dashboard-main-container {
    margin-left: 250px;
    width: 75%;
}

.dasboard-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    margin-top: 50px;
}

.dashboard-card-row {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 100px;
    width: 90%;
}

@media (width < 768px) {
    .dashboard-main-container {
        margin-left: 60px;
        width: 85%;
    }

    .dashboard-card-row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


/*-----------------SHARED ANIMATIONS--------------------*/

@keyframes opacity-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-hidde {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
