.modal-main-container {
    max-width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    animation: opacity-show 300ms forwards;
}

.hidde-modal {
    animation: opacity-hidde 300ms forwards;
}

.register-container,
.login-container {
    width: 100%;
    max-width: 360px;
    padding: 10px;
}

.register-container button,
.login-container button {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 1.8rem;
    transition: 300ms all;
    margin: 3px;
    padding: 10px 0;
}

.register-container button:hover,
.login-container button:hover {
    cursor: pointer;
    background-color: var(--clarito);
}

.ocultar {
    display: none;
}