.modal-main-container {
    background-color: greenyellow;
    width: 50%;
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}