.section-title {
    text-align: center;
    background-color: var(--verde);
    color: white;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 1.7rem;
    width: 100%;
}

@media (width < 769px) {
    .section-title {
        font-size: 1.4rem;
    }
}

@media (width < 769px) {
    .section-title {
        font-size: 1.4rem;
    }
}

@media (width < 500px) {
    .section-title {
        font-size: 1.3rem;
    }
}

@media (width < 376px) {
    .section-title {
        font-size: 1.2rem;
    }
}

@media (width < 321px) {
    .section-title {
        font-size: 1.1rem;
    }
}