.section-title {
    margin: auto;
    text-align: center;
    color: var(--violeta);
    padding: 5px;
    margin-bottom: 40px;
    font-size: 2.2rem;
    width: 100%;
}

@media (width < 1025px) {
    .section-title {
        font-size: 1.8rem;
    }
}

@media (width < 769px) {
    .section-title {
        font-size: 1.6rem;
    }

    .section-title {
        width: 70%;
    }
}

@media (width < 500px) {
    .section-title {
        font-size: 1.4rem;
    }
}

@media (width < 376px) {
    .section-title {
        font-size: 1.3rem;
    }
}

@media (width < 321px) {
    .section-title {
        font-size: 1.2rem;
    }
}