.titulo-carrito {
    text-align: center;
    margin-bottom: 40px;
}

.main-container {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

table {
    width: 100%;
    table-layout: fixed
}

thead tr th {
    color: var(--color3);
}

tr {
    text-align: center;
}