footer {
    background-color: var(--verde);
}

.footer-main-container {
    background-color: var(--verde);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    height: 17vh;
}

.titulo-footer {
    color: var(--clarito);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer i {
    color: var(--clarito);
    font-size: 35px;
}

.made-by {
    text-align: center;
}

.made-by a {
    font-family: 'Lora', serif;
    text-decoration: none;
    color: var(--clarito);
    font-size: 22px;
}