* {
    font-family: 'Lora', serif;
    color: var(--verde);
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

header {
    padding: 25px 0px 0px 0px;
    margin: auto;
}

#logo {
    height: auto;
    width: 100px;
}

.header-top-bar {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    max-width: 1200px;
}

.nav-bar {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: var(--verde);
    padding: 10px 0px;
    height: 70px;
    transition: all 250ms;
}

ul.nav-bar-list {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

li {
    font-size: 37px;
}


.sesion {
    font-size: 20px;
}

.nav-bar-category:hover>a {
    text-decoration: underline;
    text-underline-offset: 2px
}


.nav-bar-category a {
    text-decoration: none;
    color: var(--clarito);
}

.subcategoria a {
    color: var(--verde);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 49%;
    max-width: 500px;
}

.search-bar input {
    width: 85%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 0;
    padding-left: 5px;
    font-size: 20px;
    color: grey;
}

.search-bar input::placeholder {
    font-size: 20px;
    color: lightgray
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    width: 15%;
    max-width: 30px;
    height: 40px;
    background: white;
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 14px;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0;
}

.lista-desplegable {
    position: relative;
    display: none;
    list-style-type: none;
    background-color: var(--clarito);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 2px var(--verde);
    margin-top: 11px;
}

.lista-desplegable li {
    color: var(--clarito);
    font-size: 22px;
}

.lista-desplegable-mostrar {
    display: block;
    animation: opacity-animation 400ms;
}

.subcategoria {
    margin: 10px 0px;
    padding: 5px 10px;
}
.subcategoria:hover {
    text-decoration-color: var(--verde);
    font-weight: 900;
}

.cat {
    position: fixed;
    top: 13vh;
    left: -2%;
    max-height: 300px;
}

@keyframes opacity-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}