:root {
    --verde: #8FBC8B;
    --clarito: #f5e8d4;
}

body {
    background-color: var(--clarito);
}

main {
    max-width: 1200px;
    margin: auto;
}

#banner {
    margin: auto;
    width: 100%;
}

#banner img {
    width: 100%;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 37px;
}


.title:after {
    margin-left: 25px;
    background-color: var(--verde);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}

.title:before {
    margin-right: 25px;
    background-color: var(--verde);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30%;
}