/* Estilos generales */

:root {
    --verde: 	#9370DB;
    --clarito: 	#FAF0E6;
}

* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
    color: var(--verde);
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--clarito);
    position: relative;
    z-index: -2;
}