.card-main-container {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--hover);
    width: 31%;
    height: fit-content;
    overflow: visible;
    box-shadow: 0px 0px 5px 2px var(--bordes);
}

.card-main-container:hover {
    transform: scale(1.03);
}

.card-title {
    margin: 10px;
    color: var(--color3);
    font-size: 0.8rem;
}

.card-data {
    color: black;
    font-size: 1.2rem;
    margin: 10px;
    text-align: center;
    overflow-wrap: break-word;
}

@media (width < 769px) {
    .card-data {
        font-size: 1rem;
    }
}

@media (width < 680px) {
    .card-main-container {
        width: 100%;
    }
}