<%- include("./partials/head", { stylePag: "carrito" , title: "CARRITO" }) %>

    <body>
        <%- include("./partials/header") %>
            <main>
                <h1 class="titulo-carrito">Tu carrito de compras</h1>
                <section class="main-container">
                    
                </section>
            </main>
            <%- include("./partials/footer") %>
                <script src="/js/desplegable.js"></script>
    </body>

    </html>