<%- include("./partials/head", { stylePag: "carrito" , title: "CARRITO" }) %>

    <body>
        <%- include("./partials/header") %>
            <main>
                <h1 class="titulo-carrito">Tu carrito de compras</h1>
                <section class="main-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mascarilla de Coco</td>
                                <td>$1111</td>
                                <td>5u</td>
                                <td>$5555</td>
                            </tr>
                            <!-- <tr>
                                <td class="imagen-titulo-color-producto-container">
                                    <img>IMAGEN</img>
                                    <h4>Mascarilla de Coco</h4>
                                    <p>Color: Negro</p>
                                </td>
                                <td>$1111</td>
                                <td>5u</td>
                                <td>$5555</td>
                            </tr> -->
                        </tbody>
                    </table>
                </section>
            </main>
            <%- include("./partials/footer") %>
                <script src="/js/desplegable.js"></script>
    </body>

    </html>