<%- include("./partials/head", {
    stylePag: "index", title: "Bienvenidxs!"
}) %>
<body>
    <%- include("./partials/header") %>
    <div id="banner">
        <img src="/images/Banner.png" alt="">
    </div>
    <main>
            <h1 class="title">Productos en oferta</h1>
            <section class="seccion-principal">
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
                <article class="producto">
                    <img src="/images/mascarilla.png" alt="">
                    <p class="nombre-producto">Mascarilla de Coco</p>
                    <p class="precio-producto">$999</p>
                    <p class="descuento-producto">$10</p>
                </article>
            </section>
    </main>
    <%- include("./partials/footer") %>
    <script src="/js/desplegable.js"></script>
</body>

</html>