<%- include("./partials/head", {
    stylePag: "productDetail", title: "NOMBRE PRODUCTO!"
}) %>
<body>
    <%- include("./partials/header") %>
    <main>
        <h1>DETALLE PRODUCTO</h1>
    </main>
    <%- include("./partials/footer") %>
    <script src="/js/desplegable.js"></script>
</body>
</html>