.cart-product-main-container {
    background-color: white;
    padding: 15px 20px;
    height: fit-content;
    border-radius: 7px;
    border: 1px solid var(--bordes);
    display: flex;
    gap: 3%;
    position: relative;
}

.product-cart-info-main-container {
    width: 85%;
}

.cart-product-info {
    display: flex;
    align-items: flex-start;
    gap: 10%;
    width: 100%;
    justify-content: space-between;
}

.cart-product-color,
.cart-product-title,
.cart-product-stock {
    color: var(--color3);
}

.cart-product-image-container img {
    width: 100%;
    border-radius: 10px;
}

.cart-product-image-container {
    width: 15%;
    margin: auto;
}

.cart-product-title {
    font-size: 1.1rem;
}

.cart-product-color,
.cart-product-stock {
    font-size: 0.8rem;
}

.cart-product-delete-button {
    background: none;
    border: none;
    margin-top: 15px;
}

.cart-product-delete-button:hover {
    cursor: pointer;
}

.product-cart-quantity-selector form input {
    border: 1px solid var(--bordes);
    border-radius: 4px;
    outline: none;
    color: black;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 0.9rem;
    color: var(--color3);
    margin-bottom: 2px;
}

.product-cart-quantity-selector form input::-webkit-outer-spin-button,
.product-cart-quantity-selector form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-cart-quantity-selector form {
    width: 60%;
    position: relative;
    text-align: center;
    margin: auto;
}

.cart-product-add,
.cart-product-substract {
    position: absolute;
    padding: 4px 3px;
    top: 4px;
    background-color: white;
}

.cart-product-add:hover,
.cart-product-substract:hover {
    cursor: pointer;
}

.cart-product-add {
    left: 1px;
    padding-left: 7px;
}

.cart-product-substract {
    right: 1px;
    padding-right: 7px;
}

.cart-product-total {
    font-size: 1.3rem;
    color: var(--verde);
    font-weight: 600;
}

.cart-product-envio-data h1 {
    color: var(--color3);
    font-size: 0.85rem;
    padding-top: 5px;
}

.cart-product-envio-data p {
padding-top: 5px;
}

.cart-product-envio-data {
    margin-top: 10px;
    border-top: 1px solid var(--bordes);
    display: flex;
    gap: 10%;
    justify-content: space-between;
}

.cart-product-delete-icon {
    background: none;
    border: none;
    padding: 10px;
    display: none;
    position: absolute;
}

@media (width < 1024px) {
    .cart-product-info {
        gap: 0;
    }

    .cart-product-title {
        font-size: 1rem;
    }

    .cart-product-total {
        font-size: 1.1rem;
    }
}

@media (width < 540px) {
    .cart-product-image-container {
        margin: 0;
    }

    .cart-product-info {
        flex-wrap: wrap;
    }

    .cart-product-data-container {
        width: 90%;
    }

    .product-cart-quantity-selector form {
        margin: 15px 0 0 0;
        max-width: 110px;
    }

    .cart-product-total {
        margin-top: 20px;
    }

    .cart-product-main-container {
        padding: 10px;
    }

    .product-cart-quantity-selector {
        width: 78%;
    }

    .cart-product-delete-icon {
        display: block;
        top: 5px;
        right: 14px;
    }

    .cart-product-delete-button {
        display: none;
    }
}