<footer>
    <div class="footer-main-container">
        <h1 class="titulo-footer">LOGO</h1>
        <div>
            <h1 class="titulo-footer">Redes sociales</h1>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <h1 class="made-by"><a href="https://www.linkedin.com/in/lorenzo-j-sanchez/" target="_blank">Made by Lorenzo Sanchez</a></h1>
</footer>