<header>
    <div class="cat">
        <img src="/images/Cat.png" alt="">
    </div>
    <section class="header-top-bar">
        <div>
            <h1>LOGO</h1>
        </div>
        <form class="search-bar" action="" method="GET">
            <input type="text" placeholder="Buscar productos">
            <button><i class="fa fa-search"></i></button>
        </form>
        <div>
            <a class="sesion" href="">Iniciar sesión</a>
        </div>
    </section>
    <nav class="nav-bar">
        <ul class=nav-bar-list>
            <li class="nav-bar-category"><a href="">Inicio</a></li>
            <li class="nav-bar-category desplegable"><a href="">Productos</a>
                <ul class="lista-desplegable">
                    <li class="subcategoria"><a href="">Mascarillas</a></li>
                    <li class="subcategoria"><a href="">Depilación</a></li>
                    <li class="subcategoria"><a href="">Limpieza</a></li>
                    <li class="subcategoria"><a href="">Maquillaje</a></li>
                    <li class="subcategoria"><a href="">Accesorios</a></li>
                </ul>
            </li>
            <li class="nav-bar-category"><a href="">Ofertas</a></li>
            <li class="nav-bar-category"><a href="">Novedades</a></li>
            <li class="nav-bar-category desplegable"><a href="">Información</a>
                <ul class="lista-desplegable">
                    <li class="subcategoria"><a href="">Cómo comprar</a></li>
                    <li class="subcategoria"><a href="">Envíos</a></li>
                    <li class="subcategoria"><a href="">Sobre nosotras</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <script src="/js/desplegable.js"></script>
</header>