.sidemenu {
    position: fixed;
    left: 0;
    top:0;
    background-color: var(--violeta);
    width: 60px;
    height: 100%;
    padding: 15px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidemenu .logo {
    display: none;
    width: 50%;
    padding: 5px;
    border-radius: 100%;
    margin-bottom: 75px;
    margin-top: 40px;
    background-color: white;
    box-shadow: inset 0px 0px 0px 4px var(--violeta);
    border: 2px solid white;
    transition: all 300ms;
}

.sidemenu .logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.sidemenu .icon {
    width: 20px;
}

.sidemenu .menu-button {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border:none;
    color: var(--violeta);
    font-size: 1rem;
    transition: all 300ms;
}

.sidemenu .menu-button:hover {
    cursor: pointer;
    transform: translateX(5px);
}

.sidemenu .menu-button span {
    display: none;
}

.sidemenu hr {
    width: 80%;
    border-style: double;
    margin: 5px 0px 20px 0px;
}

.link-button {
    width: 80%;
    text-decoration: none;
    margin-bottom: 15px;
}

.sidemenu a {
    display: flex;
    justify-content: center;
}

/*Tablets*/
@media (min-width: 768px) {

    .sidemenu .logo {
        display: block;
    }
    .sidemenu {
        width: 250px;
    }
    .sidemenu .icon {
        margin-right: 10px;
    }
    .sidemenu .menu-button {
        border-radius: 10px;
        width: 100%;
        padding: 15px 40px;
    }
    
    .sidemenu .menu-button span {
        display: block;
    }
}