.carrito-main-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.cart-products-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.resumen {
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    width: 30%;
    height: fit-content;
    position: sticky;
    top: 10vh;
    box-shadow: 0px 0px 7px 3px var(--bordes);
}

.resumen-info-container,
.total-final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.resumen-info-container p {
    color: var(--color3);
    font-size: 1rem;
}

.resumen h1 {
    color: var(--color3);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bordes);
    margin-bottom: 25px;
    font-size: 1rem;
}

.total-final {
    border-top: 1px solid var(--bordes);
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.total-final p {
    font-weight: 600;
    font-size: 1.2rem;
}

.boton-compra {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    background-color: var(--verde);
    color: var(--clarito);
    font-size: 1rem;
    transition: 300ms all;
}

.boton-compra:hover {
    cursor: pointer;
    background-color: var(--color3);
}

@media (width < 1024px) {
    .resumen p {
        font-size: 0.9rem;
    }

}

@media (width <= 768px) {
    .carrito-main-container {
       flex-direction: column;
       align-items: center;
    }

    .resumen {
        width: 100%;
        background-color: white;
        padding: 20px;
        border-radius: 0px;
        border: none;
        box-shadow: 0px -2px 7px 3px var(--bordes);
        width: 100vw;
        height: fit-content;
        position: sticky;
        bottom: 0vh;
    }

    .cart-products-container {
        width: 100%;
    }
}

@media (width < 500px) {
    .resumen p {
        font-size: 0.8rem;
    }
}