.product-detail-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1150px;
}

.detalle-producto {
    background-color: white;
    width: 40%;
    border-radius: 20px;
    padding: 15px;
    height: fit-content;
    border: 1px solid var(--bordes);
    position: relative;
    box-shadow: 0px 0px 7px 3px var(--bordes);
}

.detalle-producto h1 {
    font-weight: 200;
}

.titulo-producto {
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bordes);
    color: black;
}

.precio-producto-detail {
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--color3);
}

.stock-producto {
    font-size: 0.7rem;
    color: black;
    display: inline-block;
}

.formulario-compra input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    padding: 0 0 0 10px;
    font-size: 20px;
    color: var(--color3);
    margin-bottom: 10px;
    margin-right: 10px;
}

.formulario-compra input:focus {
    outline: none;
}

.descripcion-producto-titulo {
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    color: black;
    border-top: 1px solid var(--bordes);
}

.descripcion-producto {
    color: black;
    font-size: 0.9rem;
}

.envio-producto,
.descuento,
.cuotas {
    display: inline-block;
    font-size: 0.92rem;
    color: rgb(22, 165, 41);
}

#envio-producto-icon,
#cuotas-producto-icon,
#descuento-producto-icon {
    margin-right: 7px;
    color: rgb(22, 165, 41);
}

.incons-container {
    margin-bottom: 8px;
    background-color: rgb(205, 233, 205);
    padding: 5px 8px;
    border-radius: 10px;
    margin-right: 8px;
    width: fit-content;
    display: inline-block;
}

.formulario-compra button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    background-color: var(--verde);
    color: var(--clarito);
    font-size: 1rem;
    transition: 300ms all;
}

.formulario-compra button:hover {
    cursor: pointer;
    background-color: var(--color3);
}

.titulo-producto-responsive {
    display: none;
}

.fav-icon {
    position: absolute;
    top: 22.5px;
    right: 19.5px;
}

.formulario-compra label,
.descripcion-producto-titulo,
.colors label {
    font-size: 1.15rem;
}

.colors label,
.product-quantity label {
    color: black;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

.colors select {
    height: 35px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    color: black;
}

.colors option{
    color: black;
}

@media (width <= 1024px) {
    .detalle-producto {
        width: 35%;
    }

    .product-images-main-container {
        width: 65%;
    }
}

@media (width <=768px) {
    .product-detail-main {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .titulo-producto {
        display: none;
    }

    .titulo-producto-responsive {
        display: block;
        font-size: 1.8rem;
        width: 75%;
        text-align: center;
    }

    .detalle-producto {
        width: 70vw;
        border: none;
    }

    .precio-producto-detail {
        margin-top: 0;
    }

    .detalle-producto {
        padding: 8px 15px;
    }

    .fav-icon {
        top: 19.5px;
    }

}

@media (width < 426px) {
    .detalle-producto {
        width: 100vw;
    }

    .titulo-producto-responsive {
        font-size: 1.6rem;
    }

    .detalle-producto {
        border: none;
        border-radius: 0px;
    }

    .envio-producto,
    .descuento,
    .cuotas,
    .descripcion-producto {
        font-size: 0.85rem;
    }

    .formulario-compra button,
    .formulario-compra label,
    .descripcion-producto-titulo {
        font-size: 1rem;
    }

    .product-detail-main {
        row-gap: 20px;
    }
}