.product-detail-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1200px;
}

.detalle-producto {
    background-color: white;
    width: 35%;
    border-radius: 20px;
    padding: 15px;
    height: fit-content;
    margin-left: 2%;
}

.detalle-producto {
    border: 1px solid var(--bordes);
}

.detalle-producto h1 {
    font-weight: 200;
}

.titulo-producto {
    font-size: 1.4rem;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bordes);
    color: black;
}

.precio-producto-detail {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--color3);
}

.stock-producto {
    font-size: 0.8rem;
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
}

.cantidad-formulario label {
    display: block;
    color: black;
    margin-bottom: 2px;
}

.cantidad-formulario input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    padding: 0 0 0 10px;
    font-size: 20px;
    color: var(--color3);
    margin-bottom: 10px;
    margin-right: 10px;
}

.cantidad-formulario input:focus {
    outline: none;
}

.descripcion-producto-titulo {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: black;
    border-top: 1px solid var(--bordes);
}

.descripcion-producto {
    color: black;
    font-size: 0.9rem;
}

.envio-producto,
.descuento,
.cuotas {
    display: inline-block;
    font-size: 0.92rem;
    color: rgb(22, 165, 41);
}

#envio-producto-icon,
#cuotas-producto-icon,
#descuento-producto-icon {
    margin-right: 7px;
    color: rgb(22, 165, 41);
}

.incons-container {
    margin-bottom: 8px;
}

.cantidad-formulario button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    background-color: var(--verde);
    color: var(--clarito);
    font-size: 1rem;
    transition: 300ms all;
}

.cantidad-formulario button:hover {
    cursor: pointer;
    background-color: var(--color3);
}