.form-main-container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 360px;
    height: fit-content;
    position: relative;
}

.form-main-container h2 {
    font-size: 1.1rem;
}

.form-main-container form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.form-input-container,
.province-selector-container {
    background-color: var(--clarito2);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 13px;
    position: relative;
}

.form-input {
    width: 100%;
    height: 30px;
    border: none;
    padding-bottom: 0;
    border-bottom: var(--bordes) solid 1px;
    font-size: 1rem;
    color: black;
    background-color: inherit;
    margin-top: 5px;

}

.form-input:focus {
    outline: none;
}

.input-error {
    border: 1px solid var(--error);
}

.form-error-msg {
    width: fit-content;
    font-size: 0.72rem;
    color: var(--error);
    background-color: var(--error);
    padding: 1px 4px;
    border-radius: 4px;
    color: white;
    position: absolute;
    bottom: -11px;
    left: 14px;
}

.form-error-msg i {
    color: white;
    margin-right: 3px;
    font-size: 0.7rem;
}

.form-main-container form label,
.province-selector-container label {
    color: var(--color3);
    font-size: 0.82rem;
}

.form-main-container form label i {
    font-size: 0.9rem;
    margin-right: 3px;
}

.form-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: var(--bordes) solid 1px;
    background-color: var(--violeta);
    color: var(--clarito);
    font-size: 1rem;
    transition: 300ms all;
    margin-top: 30px;
}

.form-button:hover {
    cursor: pointer;
    background-color: var(--color3);
}

.form-button:disabled {
    background-color: var(--color3);
}

#form-close-button {
    background-color: white;
    border: none;
    background: none;
    position: absolute;
    right: 0px;
    top: 1px;
    padding: 7px;
}

#form-close-button:hover {
    cursor: pointer;
}

#form-close-button i {
    color: var(--violeta);
    font-size: 1.1rem;
}

.form-title-section {
    margin-top: 10px;
    margin-bottom: 30px;
}

.province-selector-container {
    background-color: var(--clarito2);
    width: 100%;
}

#province-selector {
    padding: 2px;
    border: none;
    width: 100%;
    color: black;
    font-size: 1rem;
    border: 1px solid var(--bordes);
    border-radius: 5px;
    margin-top: 5px;
}

#province-selector:focus {
    border: 1px solid var(--bordes);
    outline: none;
}

#province-selector option {
    color: black;
    font-size: .9rem;
}

@media (width < 426px) {
    .form-main-container {
        padding: 20px;
    }
}

@media (width < 360px) {
    .form-main-container {
        border-radius: 0;
    }

    #form-close-button {
        right: 5px;
    }
}