header {
    margin: auto;
    background-color: white;
}

#logo {
    height: auto;
    width: 100px;
    color: var(--clarito)
}

.header-top-bar {
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    background-color: var(--verde);
}

.header-top-bar i {
    color: var(--clarito);
}

.search-bar button i {
    color: var(--verde);
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-self: center;
    border-bottom: 1px solid var(--bordes);
    height: fit-content;
}

ul.nav-bar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-bar .nav-bar-category li {
    font-size: 1rem;
}

.sesion,
.carrito {
    font-size: 1rem;
    text-decoration: none;
    border: none;
    background: none;
    color: var(--clarito);
}

.registro {
    border-right: 1px solid var(--bordes);
    padding-right: 10px;
}

.login {
    margin-left: 10px;
    color: var(--clarito);
}

.sesion:hover,
.carrito:hover {
    cursor: pointer;
    font-weight: 600;
}

.nav-bar-category a {
    padding-bottom: 8px;
    text-decoration: none;
    color: var(--verde);
}

.subcategoria a {
    color: var(--verde);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 35%;
    max-width: 400px;
}

.search-bar input {
    width: 85%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: var(--bordes) solid 2px;
    border-right: none;
    padding: 0 0 0 10px;
    font-size: 1rem;
    color: var(--color3);
    background-color: white;
}

.search-bar input::placeholder {
    font-size: 1rem;
    color: var(--bordes);
}

.search-bar input:focus {
    outline: none
}

.search-bar button {
    width: 15%;
    max-width: 30px;
    height: 40px;
    background-color: white;
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 14px;
    border: var(--bordes) solid 2px;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 0;
}

.search-bar button:hover {
    cursor: pointer;
}

.lista-desplegable {
    position: absolute;
    z-index: -1;
    list-style-type: none;
    background-color: white;
    border-radius: 7px;
    border: solid 2px var(--verde);
    display: none;
    width: 160px;
    top: 130%;
}

.lista-desplegable::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--verde);
}

.transparent-stripe {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 21px;
  }

.lista-desplegable-mostrar {
    display: block;
    animation: list-animation 300ms forwards;
}

.nav-bar-element-container:hover {
    transition: all 300ms;
    border-bottom: 4px solid var(--verde);
    cursor: pointer;
}

.nav-bar a {
    text-decoration: none;
}

.subcategoria {
    text-align: center;
    padding: 0;
    font-size: 0.9rem;
}

.subcategoria a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.subcategoria a:hover {
    background-color: var(--verde);
    color: white;
}

.cat {
    position: fixed;
    top: 11vh;
    left: -2%;
    max-height: 300px;
}

.nav-bar-element-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-bottom: 4px white solid;
    width: 100px;
    padding-bottom: 2px;
    padding-top: 13px;
}

.nav-bar-element-container:hover {
    cursor: pointer;
}

.nav-bar i {
    font-size: 1.3rem;
    color: var(--verde);
}

@keyframes list-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (width < 1440px) {
    .cat {
        display: none;
    }
}

@media (width < 901px) {
    .search-bar {
        width: 30%;
    }

@media (width < 769px) {
    #logo {
        width: 90px;
    }

    .sesion,
    .carrito {
        font-size: 0.9rem;
    }

    .nav-bar-category a {
        font-size: 0.9rem;
    }
}
}