header {
    padding: 25px 0px 0px 0px;
    margin: auto;
    background-color: var(--clarito);
}

#logo {
    height: auto;
    width: 100px;
}

.header-top-bar {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 30px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: var(--clarito);
    height: fit-content;
    margin-top: 30px;
}

ul.nav-bar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-bar li {
    font-size: 1.1rem;
}

.sesion,
.carrito {
    font-size: 20px;
    text-decoration: none;
    border: none;
}

.sesion:hover,
.carrito:hover {
    cursor: pointer;
    font-weight: 600;
}

.nav-bar-category a {
    padding-bottom: 20px;
    text-decoration: none;
    color: var(--verde);
}

.subcategoria a {
    color: var(--verde);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 49%;
    max-width: 500px;
}

.search-bar input {
    width: 85%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: var(--bordes) solid 1px;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    color: var(--color3);
}

.search-bar input::placeholder {
    font-size: 1.2rem;
    color: var(--bordes);
}

.search-bar input:focus {
    outline-color: var(--verde);
}

.search-bar button {
    width: 15%;
    max-width: 30px;
    height: 40px;
    background: white;
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 14px;
    border: var(--bordes) solid 1px;
    border-radius: 0 5px 5px 0;
    padding: 0;
}

.search-bar button:hover {
    cursor: pointer;
}

.lista-desplegable {
    position: absolute;
    z-index: -1;
    list-style-type: none;
    background-color: var(--clarito);
    border-radius: 7px;
    border: solid 2px var(--verde);
    display: none;
    width: 160px;
    top: 130%;
}

.lista-desplegable::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--clarito);
}

.lista-desplegable-mostrar {
    display: block;
    animation: list-animation 300ms forwards;
}

.nav-bar-element-container:hover {
    border-bottom: 3px solid var(--verde);
    cursor: pointer;
}

.nav-bar a {
    text-decoration: none;
}

.subcategoria {
    text-align: center;
    padding: 0;
    color: var(--clarito);
    font-size: 20px;
}

.subcategoria a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.subcategoria a:hover {
    background-color: rgb(214, 212, 212);
    border-radius: 7px;
}

.cat {
    position: fixed;
    top: 13vh;
    left: -2%;
    max-height: 300px;
}

.nav-bar-element-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-bottom: 3px var(--clarito) solid;
    width: 100px;
    padding-bottom: 2px;
    padding-top: 7px;
}

.nav-bar i {
    font-size: 1.3rem;
    color: var(--verde);
}

@keyframes list-animation {
    from {
        opacity: 0;
        box-shadow: 0;
    }

    to {
        opacity: 1;
        box-shadow: 0 0 0 100vmax rgba(61, 60, 60, 0.5);
    }
}