header {
    padding: 25px 0px 0px 0px;
    margin: auto;
    background-color: var(--clarito);
}

#logo {
    height: auto;
    width: 100px;
}

.header-top-bar {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    max-width: 1200px;
}

.nav-bar {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: var(--verde);
    padding: 10px 0px;
    height: 70px;
    transition: all 250ms;
}

ul.nav-bar-list {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

li {
    font-size: 37px;
}


.sesion,
.carrito {
    font-size: 20px;
    text-decoration: none;
}

.sesion:hover,
.carrito:hover {
    font-weight: 600;
}

.nav-bar-category:hover>a {
    text-decoration: underline;
    text-underline-offset: 2px
}


.nav-bar-category a {
    padding: 0 5px 14px 5px;
    text-decoration: none;
    color: var(--clarito);
}

.subcategoria a {
    color: var(--verde);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 49%;
    max-width: 500px;
}

.search-bar input {
    width: 85%;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: var(--bordes) solid 1px;
    padding: 0 0 0 10px;
    font-size: 1.2rem;
    color: var(--color3);
}

.search-bar input::placeholder {
    font-size: 1.2rem;
    color: var(--bordes);
}

.search-bar input:focus {
    outline-color: var(--verde);
}

.search-bar button {
    width: 15%;
    max-width: 30px;
    height: 40px;
    background: white;
    text-align: center;
    color: rgb(88, 88, 88);
    font-size: 14px;
    border: var(--bordes) solid 1px;
    border-radius: 0 5px 5px 0;
    padding: 0;
}

.search-bar button:hover {
    cursor: pointer;
}

.lista-desplegable {
    position: relative;
    z-index: -1;
    list-style-type: none;
    background-color: var(--clarito);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 2px var(--verde);
    margin-top: 10px;
    top: -50vh;
}

.lista-desplegable li {
    color: var(--clarito);
    font-size: 22px;
}

.lista-desplegable-mostrar {
    animation: list-animation 300ms forwards;
}

.desplegable:hover,
.nav-bar-category:hover {
    background-color: var(--clarito);
    border-radius: 5px;
}

.desplegable:hover a,
.nav-bar-category:hover a {
    color: var(--verde);
    text-decoration: none;
}

.subcategoria {
    margin: 6px 6px;
    padding: 0;
}

.subcategoria a {
    display: inline-block;
    width: 100%;
    padding: 10px 3px 10px 6px;
}

.subcategoria a:hover{
    cursor: pointer;
    text-decoration-color: var(--verde);
    font-weight: 600;
    background-color: rgb(214, 212, 212);
    border-radius: 5px;
}

.cat {
    position: fixed;
    top: 13vh;
    left: -2%;
    max-height: 300px;
}

@keyframes list-animation {
    from {
        top: -50vh;
        box-shadow: none;
    }

    to {
        top: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
}