.product-images-main-container {
    display: flex;
    width: 60%;
}

.mini-imagenes-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    gap: 10px;
    margin-right: 13px;
    margin-top: 4px;
    align-self: flex-start;
}

.slide-mini {
    border-radius: 10px;
    border: var(--bordes) solid 1px;
}

.imagen-producto {
    background-color: white;
    width: 85%;
    max-width: 600px;
    max-height: 600px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--bordes);
}

.imagen-producto img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.mini-imagenes-hover {
    border: var(--color3) solid 1px;
    cursor: pointer;
}

.botones {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.image-button {
    border-radius: 5px;
    border: none;
    background-color: transparent;
    margin: 0 7px;
    padding: 10px 12px;
}

.image-button:hover {
    cursor: pointer;
    background-color: var(--bordes);
}

.image-button i {
    font-size: 20px;
}

@media (width < 769px) {
    
}