.side-menu-main-container {
    background-color: var(--clarito);
    width: 75vw;
    height: 100vh;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 99;
}

.side-menu-header {
    background-color: var(--verde);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-menu-user-image {
    width: 40%;
}

.side-menu-user-image img {
    width: 100%;
    padding: 3px;
    border: 2px solid var(--bordes);
    border-radius: 10px;
    background-color: white;
}

.side-menu-user-name {
    font-size: 1rem;
    color: white;
}

.side-menu-user-name-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.side-menu-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    margin-top: 20px;
}

.side-menu-buttons-container p {
    color: var(--verde);
    font-size: 1rem;
}

.side-menu-buttons-container i {
    color: var(--verde);
    font-size: 1rem;
}