.sideMenu-background-cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    animation: opacity-show 300ms forwards;
}

.sideMenu-background-cover-hidde {
    animation: opacity-hidde 300ms forwards;
}

.side-menu-main-container {
    background-color: var(--clarito);
    width: 75vw;
    max-width: 330px;
    height: 100vh;
    position: fixed;
    z-index: 99;
    left: -360px;
    animation: glide 300ms forwards;
}

#side-menu-header-close-button {
    position: absolute;
    color: white;
    top: 7px;
    right: 7px;
}

#side-menu-header-close-button:hover {
    cursor: pointer;
}

.side-menu-header {
    background-color: var(--verde);
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-menu-user-image {
    width: 80px;
}

.side-menu-user-image img {
    width: 100%;
    padding: 3px;
    border: 2px solid var(--bordes);
    border-radius: 10px;
    background-color: white;
}

.side-menu-user-name {
    font-size: 1rem;
    color: white;
}

.side-menu-user-name-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.side-menu-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 10px;
    margin-top: 20px;
}

.side-menu-buttons-container p {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--verde);
    font-size: .9rem;
    text-align: center;
    background-color: rgba(170, 137, 236, 0.151);
    color: var(--verde);
    padding: 13px 7px;
    border-radius: 5px;
}

.side-menu-buttons-container i {
    color: var(--verde);
    font-size: 1rem;
    width: 25px;
    margin-bottom: 3px;
}

.closing-animation {
    animation: glide-undo 300ms forwards;
}

@keyframes glide-undo {
    from {
        left: 0px;
        opacity: 1;
    }
    
    to {
        left: -360px;
        opacity: 0;
    }
}

@keyframes glide {
    from {
        left: -360px;
        opacity: 0;
    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes opacity-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes opacity-hidde {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (width > 426px) {
    .side-menu-main-container {
        width: 51vw;
    }
}

@media (width > 600px) {
    .side-menu-main-container {
        width: 45vw;
    }
}