.user-profile-main-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.user-personal-info-container {
    width: 30%;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    transition: all 300ms;
    box-shadow: 0px 0px 7px 3px var(--bordes);
}

.user-image-container {
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    width: 40%;
}

.user-image-container img {
    width: 100%;
    border-radius: 10px;
}

.historial-compras {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    gap: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 3px var(--bordes);
}

.historial-header h1 {
    margin: 10px 0px 25px 0px;
}

.historial-header-cards-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.no-data-envio {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    background-color: var(--hover);
    border-radius: 10px;
}

.no-data-envio p {
    font-size: 0.8rem;
    color: var(--color3);
    margin-bottom: 10px;
}

.no-data-envio button {
    margin: auto;
    width: fit-content;
    height: 33px;
    border-radius: 10px;
    border: var(--bordes) solid 1px;
    background-color: var(--verde);
    transition: 300ms all;
    padding: 7px 7px 7px 8px;
}

.no-data-envio i {
    color: var(--verde);
    font-size: 2rem;
}

.no-data-envio i:hover {
    cursor: pointer;
    color: var(--color3);
}

@media (width < 769px) {
    .user-profile-main-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .user-personal-info-container {
        width: 80vw;
    }

    .historial-compras {
        width: 80vw;
    }

    .user-image-container {
        width: 30%;
    }
}

@media (width < 680px) {
    .historial-header-cards-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (width < 426px) {
    .user-personal-info-container {
        width: 90vw;
    }

    .historial-compras {
        width: 90vw;
    }

    .user-image-container {
        width: 40%;
    }
}