.user-profile-main-container {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.datos-envio-container,
.user-personal-info-container {
    width: 40%;
    padding: 15px;
    border-radius: 20px;
}

.user-personal-info-container,
.datos-envio-container {
    background-color: white;
    
}

.user-image-container {
    text-align: center;
    border-bottom: 1px solid var(--bordes);
    padding-bottom: 10px;
}

.user-image-container img {
    width: 40%;
    border-radius: 50%;
}
.user-data-title {
    margin: 10px;
}

.user-info-subtitle {
    color: var(--color3);
}

.user-info-item-container {
    padding: 10px;
}

.user-info-item-container:hover {
    background-color: rgb(241, 240, 240);
    border-radius: 10px;
}

.user-info-item-container p:not(.user-info-subtitle) {
    color: black;
}

.user-info-title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-title-and-button button {
    background: none;
    border: none;
    height: fit-content;
    padding: 5px;
}

.user-info-title-and-button button i {
    font-size: 1.2rem;
}

.user-info-title-and-button button:hover {
    cursor: pointer;
}