.table-container {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid var(--bordes);
    height: fit-content;
    width: 100%;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 1px solid var(--bordes);
}

thead tr th {
    color: var(--color3);
    padding-bottom: 10px;
}

tr.table-row-product {
    text-align: center;
}

tr.table-row-product:hover {
background-color: var(--clarito);
}

td {
    color: var(--color3);
    padding-bottom: 15px;
}

td img {
    max-width: 60%;
}

tbody tr td {
    padding-top: 20px;
}

.total-producto {
    color: var(--verde);
    font-weight: 600;
}