.product-list-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

@media (width < 425px) {
    .product-list-section {
        justify-content: center;
        row-gap: 20px;
    }
}